:root {
  // colors
  --accent-basic: #fe7865;
  --background-black: #131314;
  --background-grey: #1d1d1d;
  --basic-black: #000000;
  --basic-green: #0ad9c6;
  --basic-white: #ffffff;
  --heading-black: #1f1f1f;
  --input-border: #c9ccd4;
  --menu-black: #48494d;
  --special-black: #1c1c1c;
  --special-dark-grey: #f6f7f9;
  --special-grey: #e5e5e5;
  --special-semi-grey: #f6f6f6;
}

// screen width

$small: 320px;
$medium: 767px;
$large: 1023px;

// media

$tablet: "only screen and (max-width: #{$large})";
$mobile: "only screen and (max-width: #{$medium})";
