// header

.header__container {
  position: relative;

  display: grid;
  padding-top: 20px;
  padding-right: 19.4%;
  padding-bottom: 240px;
  padding-left: 19.4%;

  color: var(--basic-white);
  column-gap: 10px;

  background-color: var(--background-grey);
  background-image: url("../img/bike-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  row-gap: 256px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bike-desktop@2x.jpg");
  }

  @media #{$tablet} {
    padding: 0;

    background-image: unset;

    grid-template-columns: unset;
    grid-template-rows: unset;
    row-gap: unset;
  }
}

.header__menu {
  grid-column: 1/3;
  grid-row: 1/2;

  @media #{$tablet} {
    grid-column: unset;
    grid-row: unset;
  }
}

.header__wrapper {
  max-width: 400px;

  @media #{$tablet} {
    max-width: unset;
    padding: 25px 22px 78px;

    background-image: url("../img/bike-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bike-desktop@2x.jpg");
    }
  }

  @media #{$mobile} {
    padding: 25px 16px 69px;

    background-image: url("../img/bike-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bike-mobile@2x.jpg");
    }
  }
}

.header__wrapper img {
  margin-bottom: 25px;

  @media #{$tablet} {
    margin-bottom: 87px;
  }

  @media #{$mobile} {
    margin-bottom: 72px;
  }
}

.header__wrapper h1 {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: -0.005em;

  @media #{$tablet} {
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 42px;
    text-align: center;
  }
}

.header__wrapper p {
  margin: 0;

  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.005em;

  opacity: 0.8;

  @media #{$tablet} {
    max-width: 56.6%;
    margin: 0 auto;

    font-size: 18px;
    line-height: 32px;
    text-align: center;
  }

  @media #{$mobile} {
    max-width: unset;
  }
}

.header__form {
  max-width: 330px;

  justify-self: end;

  @media #{$tablet} {
    max-width: unset;

    justify-self: unset;
  }
}
