.page {
  font-style: normal;
  font-family: "Open Sans", "Arial", sans-serif;
  color: var(--basic-dark);

  background-color: var(--basic-white);
}

.page body {
  position: relative;

  min-width: $small;
}
